#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.error-title {
  color: #c90000;
  font-size: 50px;
  margin: 0;
}

.error-text {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  color: white;
}

.error-message {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  color: white;
}

.logo_container_error {
  margin: 30px 0 0 0;
  font-size: 30px;
  font-weight: bold;
}

.logo_barcode_error {
  font-family: "Libre Barcode 39", cursive;
  color: #c90000;
  font-weight: 300;
  font-style: italic;
}

.logo_text_error {
  font-family: "Righteous", cursive;
  margin-left: 10px;
  color: white;
  letter-spacing: -1px;
  font-weight: 300;
}

.error-link {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: 5px solid white;
  padding: 5px 20px;
  margin: 20px 0 0 0;
  border-radius: 10px;
}

.error-link:hover {
  border: 5px solid #7fc900;
  color: #7fc900;
}
