.about_link {
  font-size: "20px";
  font-weight: "bold";
  text-decoration: "none";
  margin: "0 20px 0 20px";
  color: "#1976d2";
}

.about_active {
  color: #ed6c02;
  text-decoration: underline;
  margin: "0 20px 0 20px";
  font-size: "20px";
  font-weight: "bold";
}
